@model IEnumerable<PizzaStore.WebUI.Models.PurOrderViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Search for Order History</h1>
<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
              
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
